# Node/Vite
node_modules/
dist/
npm-debug.log
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Docker
*.env
# Node
node_modules
frontend/node_modules
backend/node_modules

# Env files
.env
*.env
backend/.env
engine/.env
db.env

# Build
frontend/build
frontend/dist

# Docker
postgres_data
