fastapi
uvicorn
requests
openai
python-multipart
PyPDF2
pillow
pytesseract
python-dotenv
pdf2image
pgvector
psycopg2-binary
sqlalchemy
tiktoken
typing-extensions
httpx
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
